{% extends ":default:index.html.twig" %}

{% block logincontent %}

    <div class="row">
        <div class="col-md-12">
            {{ block('fos_user_content') }}
        </div>
    </div>

    <a class="blogin btn btn-success" role="button" href="{{ path('homepage') }}">Homepage</a><br>

    {{ parent() }}

{%  endblock %}